.fundstransfer {
    font-family: 'Nunito', sans-serif;
    background-color: #E5E5E5;
}

.bgText {
    font-size: 24px;
    line-height: 32px;
    color: #030229;
}

.profileImage {
    background: #FAFAFB;
    border-radius: 50%;
    max-width: 174px;
    width: 100%;
}