.dashboard {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.cardTitle, .card-amount {
    font-size: 18px;
    color: #4F4F4F;
}

.card-percent {
    font-size: 18px;
    color: #979797;
}

.timeline {
    font-size: 12px;
    color: #4F4F4F;
    line-height: 14px;
}